@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");

/* Fonts */
@font-face {
  font-family: "cormorantLight";
  src: url("../assets/fonts/Cormorant-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus,
.vrollable:hover,
.vrollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.abilityrollable:hover,
.abilityrollable:focus,
.skillrollable:hover,
.skillrollable:focus {
  color: #000;
  text-shadow: 0 0 10px blue;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 5px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #0B108C;
  border-radius: 5px;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: left;
  text-align: left;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* New Styles */
.MTAv20 .window-content {
  background: #faf5ed;
  font-family: "cormorantLight", sans-serif;
  font-weight: 600;
}

.MTAv20 .profile-img,
.MTAv20 .item-image img {
  background: #0B108C;
}

.MTAv20 input {
  font-family: initial;
  background: white;
  border: 1px solid #e0dede;
}

.MTAv20 button.rollable {
  background: #0B108C;
  color: white;
  font-family: "cormorantlight", sans-serif;
  font-weight: bold;
  border: none;
}

.MTAv20 .resource-label {
  font-weight: bold;
}

.MTAv20 .window-content .resource-label {
  text-transform: initial;
  font-size: 16px;
}

.MTAv20 .window-content .abilities .ability .resource-label {
  font-weight: bold;
  font-size: 18px;
}

.MTAv20 .window-content nav.sheet-tabs {
  background: #e6ded0;
  color: #0B108C;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 41px;
}

.MTAv20 .window-content nav.sheet-tabs a.item.active {
  background: #faf5ed;
  text-decoration: none;
}

.MTAv20 .window-content .header-fields .resource {
  border: 1px solid #d6d6d2;
  border-radius: 5px;
}

.MTAv20 .window-content .abilities,
.MTAv20.sheet.actor .window-content .skills {
  border: none;
}

.MTAv20 .window-content .sheet-body .tab > .resource-label {
  color: #0B108C;
  border-bottom: 1px solid #0B108C;
  width: 100%;
  display: block;
  text-transform: uppercase;
}

/* Styles limited to MTAv20 sheets */

/* .MTAv20 .item-form {
  font-family: "Roboto", sans-serif;
} */

.MTAv20 .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 220px;
  flex: 0 0 220px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.MTAv20 .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  min-height: 50px;
  max-height: 205px;
  height: auto;
  width: 100px;
  margin-right: 10px;
}

.MTAv20 .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.MTAv20 .sheet-header h1.charname {
  height: 50px;
  padding: 0;
  margin: 5px 0;
  border-bottom: 0;
}

.MTAv20 .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.MTAv20 .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.MTAv20 .sheet-body,
.MTAv20 .sheet-body .tab,
.MTAv20 .sheet-body .tab .editor {
  height: 100%;

  /* min-height: 100px; */
}

.MTAv20 .sheet-body .tab .half-height {
  height: 50%;
}

.MTAv20 .tox .tox-editor-container {
  background: #fff;
}

.MTAv20 .tox .tox-edit-area {
  padding: 0 8px;
}

.MTAv20 .tabs {
  height: 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.MTAv20 .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.MTAv20 .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.MTAv20 .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.MTAv20 .items-list .item-header {
  font-weight: bold;
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #0B108C;
  color: #0B108C;
}

.MTAv20 .items-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}

.MTAv20 .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.MTAv20 .items-list .item img {
  display: block;
}

.MTAv20 .items-list .item-name {
  margin: 0;
  font-weight: 600;
}

.MTAv20 .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.MTAv20 .items-list .collapsible:hover,
.MTAv20 .items-list .collapsible:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.MTAv20 .items-list .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Resource boxes CSS */

.MTAv20 .resource-value .resource-value-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.MTAv20 .resource-value .resource-value-step.active {
  background-color: #0B108C;
}

.MTAv20 .resource-value .resource-value-empty {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* Resource boxes 1 CSS */
.MTAv20 .resource-counter .resource-counter-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.MTAv20 .resource-counter .resource-counter-step[data-state="-"] {
  background-color: #0B108C;
}

.MTAv20 .resource-counter .resource-counter-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.MTAv20 .resource-counter .resource-counter-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* Resource boxes 2 CSS */
.MTAv20 .resource-counter .resource-counter2-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

.MTAv20 .resource-counter .resource-counter2-step[data-state="-"] {
  background-color: #0B108C;
}

.MTAv20 .resource-counter .resource-counter2-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.MTAv20 .resource-counter .resource-counter2-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* Resource boxes 3 CSS */
.MTAv20 .resource-counter .resource-counter3-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.MTAv20 .resource-counter .resource-counter3-step[data-state="-"] {
  background-color: rgb(0, 0, 0);
}

.MTAv20 .resource-counter .resource-counter3-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.MTAv20 .resource-counter .resource-counter3-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* Resource boxes symbols CSS */
.MTAv20 .resource-counter-syb .resource-counter-syb-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.MTAv20 .resource-counter-syb .resource-counter-syb-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.MTAv20 .resource-counter-syb .resource-counter-syb-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

/* Resource boxes 2 color-flags for Quintessence and Paradox CSS */
.MTAv20 .resource-counter-2cf .resource-counter-2cf-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.MTAv20 .resource-counter-2cf .resource-counter-2cf-step[data-state="-"] {
  background-color: rgb(28, 224, 238);
}

.MTAv20 .resource-counter-2cf .resource-counter-2cf-step[data-state="/"] {
  background-color: rgb(0, 0, 0);
}

/* Resource box Buttons CSS */
.MTAv20 .resource-button {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

.MTAv20 .resource-button[data-state="+"] {
  background:
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 43%,
      green 45%,
      green 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      180deg,
      transparent 0%,
      transparent 43%,
      green 45%,
      green 55%,
      transparent 57%,
      transparent 100%
  );
}

.MTAv20 .resource-button[data-state="-"] {
  background:
    linear-gradient(
      180deg,
      transparent 0%,
      transparent 43%,
      red 45%,
      red 55%,
      transparent 57%,
      transparent 100%
    );
}

/* Resource boxe Vitality CSS */
.MTAv20 .resource-counter .resource-vitality-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.MTAv20 .resource-counter .resource-vitality-step[data-state="-"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.MTAv20 .resource-counter .resource-vitality-step[data-state="/"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.MTAv20 .resource-counter .resource-vitality-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.MTAv20 .flex-group-center:not(.flexrow) .resource-value,
.MTAv20 .flex-group-center:not(.flexrow) .resource-counter-syb,
.MTAv20 .flex-group-center:not(.flexrow) .resource-counter-2cf,
.MTAv20 .flex-group-center:not(.flexrow) .resource-buttons,
.MTAv20 .flex-group-center:not(.flexrow) .resource-vitality,
.MTAv20 .flex-group-center:not(.flexrow) .resource-counter {
  margin-top: 5px;
}

.MTAv20 .tab.disciplines .resource-value {
  margin-top: 2px;
}

/* ChatMessage CSS */

.roll-label {
  font-weight: bold;
  font-size: 130%;
}

.roll-label .danger {
  color: #831515;
}

.roll-label .success {
  color: #18520b;
}

.roll-content {
  font-size: 120%;
}

.uppercase {
  text-transform: uppercase;
}

.roll-img {
  max-width: 10%;
}

.MTAv20 .resource-counter-2cf {
  position: relative;
  width: 20em;
  height: 20em;
  padding: 0;
  border-radius: 50%;
  list-style: none; }
  .MTAv20 .resource-counter-2cf > * {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em; }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(1) {
      transform: rotate(0deg) translate(10em) rotate(0deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(2) {
      transform: rotate(9deg) translate(10em) rotate(-9deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(3) {
      transform: rotate(18deg) translate(10em) rotate(-18deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(4) {
      transform: rotate(27deg) translate(10em) rotate(-27deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(5) {
      transform: rotate(36deg) translate(10em) rotate(-36deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(6) {
      transform: rotate(45deg) translate(10em) rotate(-45deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(7) {
      transform: rotate(54deg) translate(10em) rotate(-54deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(8) {
      transform: rotate(63deg) translate(10em) rotate(-63deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(9) {
      transform: rotate(72deg) translate(10em) rotate(-72deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(10) {
      transform: rotate(81deg) translate(10em) rotate(-81deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(11) {
      transform: rotate(90deg) translate(10em) rotate(-90deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(12) {
      transform: rotate(99deg) translate(10em) rotate(-99deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(13) {
      transform: rotate(108deg) translate(10em) rotate(-108deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(14) {
      transform: rotate(117deg) translate(10em) rotate(-117deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(15) {
      transform: rotate(126deg) translate(10em) rotate(-126deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(16) {
      transform: rotate(135deg) translate(10em) rotate(-135deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(17) {
      transform: rotate(144deg) translate(10em) rotate(-144deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(18) {
      transform: rotate(153deg) translate(10em) rotate(-153deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(19) {
      transform: rotate(162deg) translate(10em) rotate(-162deg); }
    .MTAv20 .resource-counter-2cf > *:nth-of-type(20) {
      transform: rotate(171deg) translate(10em) rotate(-171deg); }
