<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <!-- Photo -->
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="100"
             alt="Profile Image"/>

        <!-- HEADER -->
        <div class="header-fields">

            <!-- Name, Affiliation, Sect -->
            <div class="grid grid-3col flexrow">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                                            placeholder="{{localize 'MTAv20.Name'}}"/></h1>
                <h1 class="charname"><input name="data.headers.affiliation.value" type="text"
                                            value="{{data.data.headers.affiliation.value}}"
                                            placeholder="{{localize 'MTAv20.Affiliation'}}"/></h1>
                <h1 class="charname"><input name="data.headers.sect.value" type="text"
                                            value="{{data.data.headers.sect.value}}"
                                            placeholder="{{localize 'MTAv20.Sect'}}"/></h1>
            </div>

            <!-- Experience, Health, Q-P -->
            <div class="resources grid grid-4col">

                <div class="resource flex-group-center exp">
                    <label for="data.data.exp" class="resource-label">{{localize "MTAv20.Exp"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="data.exp.value" value="{{data.data.exp.value}}" data-dtype="Number"/>
                        /
                        <input type="number" name="data.exp.max" value="{{data.data.exp.max}}" data-dtype="Number"/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="data.data.health" class="resource-label">{{localize "MTAv20.Health"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter" data-states="-:total,/:lethal,x:aggravated"
                             data-total="{{data.data.health.total}}" data-lethal="{{data.data.health.lethal}}"
                             data-aggravated="{{data.data.health.aggravated}}" data-name="data.health">
                            {{#numLoop 7}}
                            <span class="resource-vitality-step" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>

                <div class="resource flex-group-center" style="width: 200% !important;">
                    <span class="resource-button" data-index="q" data-state="-"></span>
                    <span class="resource-button" data-index="q" data-state="+"></span>
                    <label for="data.data.magika.quintessence" class="resource-label"> {{localize
                        "MTAv20.Quintessence"}} | {{localize "MTAv20.Paradox"}} </label>
                    <span class="resource-button" data-index="p" data-state="+"></span>
                    <span class="resource-button" data-index="p" data-state="-"></span>

                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter-2cf" data-states="-:quintessence,/:paradox"
                             data-quintessence="{{data.data.magika.quintessence}}"
                             data-paradox="{{data.data.magika.paradox}}" data-name="data.magika">
                            {{#numLoop 20}}
                            <span class="resource-counter-2cf-step" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>

            </div>

            <!-- Willpower, Arete -->
            <div class="resources grid grid-2col">

                <div class="resource flex-group-center">
                    <label for="data.data.willpower" class="resource-label attribute-rollable"
                           data-roll="{{willpowerRollValue data.data.willpower}}"
                           data-label="MTAv20.Willpower">{{localize "MTAv20.Willpower"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter" data-states="-:max,x:temp" data-max="{{data.data.willpower.max}}"
                             data-temp="{{data.data.willpower.temp}}" data-name="data.willpower">
                            {{#numLoop 10}}
                            <span class="resource-counter2-step" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                        </div>
                    </div>
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter-syb" data-states="/:spent"
                             data-spent="{{data.data.willpower.spent}}" data-name="data.willpower">
                            {{#numLoop 10}}
                            <span class="resource-counter-syb-step" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>

                <div class="resource flex-group-center arete">
                    <label for="data.data.arete.value" class="resource-label attribute-rollable"
                           data-roll="{{data.data.arete.value}}"
                           data-label="MTAv20.Arete">{{localize "MTAv20.Arete"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter" data-states="-:value" data-value="{{data.data.arete.value}}"
                             data-name="data.arete">
                            {{#numLoop 10}}
                            <span class="resource-counter2-step" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- NAVIGATION -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">{{localize "MTAv20.Stats"}}</a>
        <a class="item" data-tab="features">{{localize "MTAv20.Features"}}</a>
        <a class="item" data-tab="description">{{localize "MTAv20.Description"}}</a>
        <a class="item" data-tab="equipment">{{localize "MTAv20.Equipment"}}</a>
    </nav>

    <!-- BODY -->
    <section class="sheet-body">

        <!-- STATS TAB -->
        <div class="tab flex-center" data-group="primary" data-tab="stats">

            <!-- Attributes -->
            <label class="resource-label">{{localize "MTAv20.Attributes"}}</label>
            <div class="attributes grid grid-3col flex-group-center">
                {{#each data.data.attributes as |attribute key|}}
                <div class="attribute flexrow flex-center">
                    <label for="data.data.attributes.{{key}}.value" class="resource-label attribute-rollable"
                           data-roll="{{attribute.value}}" data-label="{{attribute.name}}">{{localize
                        attribute.name}}</label>
                    <div class="resource-value" data-value="{{attribute.value}}"
                         data-name="data.attributes.{{key}}.value">
                        <span class="resource-value-empty"></span>
                        {{#numLoop 5}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
                {{/each}}
            </div>

            <!-- Abilities -->
            <label class="resource-label">{{localize "MTAv20.Abilities"}}</label>
            <div class="abilities grid grid-3col flex-group-center">
                {{#each data.data.abilities as |ability key|}}
                <div class="ability flexrow flex-center">
                    <label for="data.data.abilities.{{key}}.value" class="resource-label ability-rollable"
                           data-roll="{{ability.value}}"
                           data-label="{{ability.name}}">{{localize ability.name}}</label>
                    <div class="resource-value" data-value="{{ability.value}}" data-name="data.abilities.{{key}}.value">
                        <span class="resource-value-empty"></span>
                        {{#numLoop 5}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
                {{/each}}
            </div>

            <!-- Spheres -->
            <label class="resource-label">{{localize "MTAv20.Spheres"}}</label>
            <div class="attributes grid grid-3col flex-group-center">
                {{#each data.data.spheres as |sphere key|}}
                <div class="attribute flexrow flex-center">
                    <label for="data.data.spheres.{{key}}.value" class="resource-label"
                           data-roll="{{sphere.value}}" data-label="{{sphere.name}}">{{localize
                        sphere.name}}</label>
                    <div class="resource-value" data-value="{{sphere.value}}" data-name="data.spheres.{{key}}.value">
                        <span class="resource-value-empty"></span>
                        {{#numLoop 5}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
                {{/each}}
            </div>

            <!-- Specialties -->
            <label class="resource-label">{{localize "MTAv20.Specialties"}}</label>
            <ol class="items-list flex-left">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "MTAv20.Specialty"}}</div>
                    <div class="item-name">{{localize "MTAv20.Ability"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'MTAv20.Add'}}"
                           data-type="specialty"><i class="fas fa-plus"></i> {{localize "MTAv20.Add"}}
                        </a>
                    </div>
                </li>
                {{#each actor.specialties as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image custom-rollable" data-dice1="" data-dice2="{{item.data.ability}}"
                         data-name="{{item.name}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" alt="{{item.name}}"/>
                    </div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-name">{{localize (generateAbilityLabel item.data.ability)}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'MTAv20.Edit'}}"><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'MTAv20.Delete'}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>

            <!-- Custom Rolls -->
            <label class="resource-label">{{localize "MTAv20.CustomRolls"}}</label>
            <ol class="items-list flex-left">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "MTAv20.Name"}}</div>
                    <div class="item-name">{{localize "MTAv20.Attribute"}}</div>
                    <div class="item-name">{{localize "MTAv20.Ability"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'MTAv20.Add'}}"
                           data-type="customRoll"><i class="fas fa-plus"></i> {{localize "MTAv20.Add"}}
                        </a>
                    </div>
                </li>
                {{#each actor.customRolls as |roll id|}}
                <li class="item flexrow" data-item-id="{{roll._id}}">
                    <div class="item-image custom-rollable" data-dice1="{{roll.data.dice1}}"
                         data-dice2="{{roll.data.dice2}}" data-name="{{roll.name}}">
                        <img src="{{roll.img}}" title="{{roll.name}}" width="24" height="24" alt="{{roll.name}}"/>
                    </div>
                    <h4 class="item-name">{{roll.name}}</h4>
                    <h4 class="item-name">{{localize (generateAbilityLabel roll.data.dice1)}}</h4>
                    <h4 class="item-name">{{localize (generateAbilityLabel roll.data.dice2)}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'MTAv20.Edit'}}"><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'MTAv20.Delete'}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>

        </div>

        <!-- FEATURES TAB -->
        <div class="tab features" data-group="primary" data-tab="features">

            <!-- Backgrounds -->
            <label class="resource-label">{{localize "MTAv20.Backgrounds"}}</label>
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-name">{{localize "MTAv20.Background"}}</div>
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "MTAv20.Points"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'MTAv20.Add'}}"
                           data-type="background"><i class="fas fa-plus"></i> {{localize "MTAv20.Add"}}
                        </a>
                    </div>
                </li>
                {{#each actor.backgrounds as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <label for="data.data.item.{{id}}.value" class="resource-label collapsible"
                           data-roll="{{item.data.value}}"
                           data-label="{{item.name}}">{{item.name}}</label>
                    <div class="resource-value" data-value="{{item.data.value}}" data-name="items.{{item._id}}">
                        <span class="resource-value-empty"></span>
                        {{#numLoop 5}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>

                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'MTAv20.Edit'}}"><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'MTAv20.Delete'}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                    <div class="content">
                        {{{item.data.description}}}
                    </div>
                </li>
                {{/each}}
            </ol>

            <!-- Merits, Flaws -->
            <label class="resource-label">{{localize "MTAv20.MeritsFlaws"}}</label>
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-name">{{localize "MTAv20.Name"}}</div>
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "MTAv20.Points"}}</div>
                    <div class="item-controls"></div>
                </li>
                {{#each actor.features as |feature key|}}
                <li class="flexrow item-header">
                    <div class="item-name">{{localize (generateFeatureLabel key)}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'MTAv20.Add'}}" data-type="feature"
                           data-featuretype="{{key}}"><i class="fas fa-plus"></i> {{localize "MTAv20.Add"}}</a>
                    </div>
                </li>
                {{#each feature as |item id|}}
                <li class="item flexcol" data-item-id="{{item._id}}">
                    <div class="flexrow">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"
                                                     alt="{{item.name}}"/>
                        </div>
                        <h4 class="item-name collapsible">{{item.name}}</h4>
                        <div class="resource-value" data-value="{{item.data.value}}" data-name="items.{{item._id}}">
                            <span class="resource-value-empty"></span>
                            {{#numLoop 5}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                            {{/numLoop}}
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="{{localize 'MTAv20.Edit'}}"><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize 'MTAv20.Delete'}}"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="content">
                        {{{item.data.description}}}
                    </div>
                </li>
                {{/each}}
                {{/each}}
            </ol>

        </div>

        <!-- BIO TAB -->
        <div class="tab" data-group="primary" data-tab="description">

            <div class="resource flexrow grid grid-3col">
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Concept"}}</label>
                    <input type="text" name="data.headers.concept.value" value="{{data.data.headers.concept.value}}"/>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Nature"}}</label>
                    <input type="text" name="data.headers.nature.value" value="{{data.data.headers.nature.value}}"/>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Essence"}}</label>
                    <input type="text" name="data.headers.essence.value" value="{{data.data.headers.essence.value}}"/>
                </div>

                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Chronicle"}}</label>
                    <input type="text" name="data.headers.chronicle.value"
                           value="{{data.data.headers.chronicle.value}}"/>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Demeanor"}}</label>
                    <input type="text" name="data.headers.demeanor.value" value="{{data.data.headers.demeanor.value}}"/>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Wonders"}}</label>
                    <input type="text" name="data.wonders" value="{{data.data.wonders}}"/>
                </div>

                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Focus"}}</label>
                    <textarea name="data.headers.tenets" rows="10">{{data.data.headers.tenets}}</textarea>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Routines"}}</label>
                    <textarea name="data.headers.touchstones" rows="10">{{data.data.headers.touchstones}}</textarea>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "MTAv20.Possessions"}}</label>
                    <textarea name="data.headers.bane" rows="10">{{data.data.headers.bane}}</textarea>
                </div>
            </div>

            <label class="resource-label flex-center">{{localize "MTAv20.Biography"}}</label>
            {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=editable}}

        </div>

        <!-- EQUIPMENT TAB -->
        <div class="tab" data-group="primary" data-tab="equipment">
            <label class="resource-label flex-center">{{localize "MTAv20.Equipment"}}</label>
            {{editor content=data.data.equipment target="data.equipment" button=true owner=owner editable=editable}}

            <label class="resource-label flex-center">{{localize "MTAv20.Notes"}}</label>
            {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

    </section>

</form>
