<option value="alertness">{{localize "MTAv20.Alertness"}}</option>
<option value="arts">{{localize "MTAv20.Arts"}}</option>
<option value="athletics">{{localize "MTAv20.Athletics"}}</option>
<option value="awareness">{{localize "MTAv20.Awareness"}}</option>
<option value="brawl">{{localize "MTAv20.Brawl"}}</option>
<option value="empathy">{{localize "MTAv20.Empathy"}}</option>
<option value="expression">{{localize "MTAv20.Expression"}}</option>
<option value="intimidation">{{localize "MTAv20.Intimidation"}}</option>
<option value="leadership">{{localize "MTAv20.Leadership"}}</option>
<option value="streetwise">{{localize "MTAv20.Streetwise"}}</option>
<option value="subterfuge">{{localize "MTAv20.Subterfuge"}}</option>
<option value="crafts">{{localize "MTAv20.Crafts"}}</option>
<option value="drive">{{localize "MTAv20.Drive"}}</option>
<option value="etiquette">{{localize "MTAv20.Etiquette"}}</option>
<option value="firearms">{{localize "MTAv20.Firearms"}}</option>
<option value="martialArts">{{localize "MTAv20.MartialArts"}}</option>
<option value="meditation">{{localize "MTAv20.Meditation"}}</option>
<option value="melee">{{localize "MTAv20.Melee"}}</option>
<option value="research">{{localize "MTAv20.Research"}}</option>
<option value="stealth">{{localize "MTAv20.Stealth"}}</option>
<option value="survival">{{localize "MTAv20.Survival"}}</option>
<option value="technology">{{localize "MTAv20.Technology"}}</option>
<option value="academics">{{localize "MTAv20.Academics"}}</option>
<option value="computer">{{localize "MTAv20.Computer"}}</option>
<option value="cosmology">{{localize "MTAv20.Cosmology"}}</option>
<option value="enigmas">{{localize "MTAv20.Enigmas"}}</option>
<option value="esoterica">{{localize "MTAv20.Esoterica"}}</option>
<option value="investigation">{{localize "MTAv20.Investigation"}}</option>
<option value="law">{{localize "MTAv20.Law"}}</option>
<option value="medicine">{{localize "MTAv20.Medicine"}}</option>
<option value="occult">{{localize "MTAv20.Occult"}}</option>
<option value="politics">{{localize "MTAv20.Politics"}}</option>
<option value="science">{{localize "MTAv20.Science"}}</option>
