<option value="strength">{{localize "MTAv20.Strength"}}</option>
<option value="dexterity">{{localize "MTAv20.Dexterity"}}</option>
<option value="stamina">{{localize "MTAv20.Stamina"}}</option>
<option value="charisma">{{localize "MTAv20.Charisma"}}</option>
<option value="manipulation">{{localize "MTAv20.Manipulation"}}</option>
<option value="appearance">{{localize "MTAv20.Appearance"}}</option>
<option value="perception">{{localize "MTAv20.Perception"}}</option>
<option value="intelligence">{{localize "MTAv20.Intelligence"}}</option>
<option value="wits">{{localize "MTAv20.Wits"}}</option>
